.contact-call {
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__username {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: $color-grey-dark;
  }

  &__status {
    margin-top: .5rem;
    font-size: 1.5rem;
    color: $color-grey-dark-4;
  }
}

.contact-call-button__container {
  display: flex;
  justify-content: center;
  align-items: center;

  button:nth-child(2) {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.video-call {
  height: 100%;

  &__main {
    position: relative;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    margin: 0;
    background-color: $color-black;
  }

  &__sub {
    height: 30%;
    margin: 0;
    background-color: rgba($color-black, 0.1);
    transform: translate(-10%, -10%);
  }
  

  & > div {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > video:nth-of-type(2) {
    position: absolute;
    top: 70%;
    left: 80%;
  }
} 