.messaging {
  display: flex;
  flex-direction: column;
  border: solid #E4E9EF;
  border-width: 0 .1rem 0 .1rem;

  .header {
    min-height: 7.2rem;
    border-bottom: solid .1rem #E4E9EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  
    .user__details {
      display: flex;
      align-items: center;
  
      &--avatar {
        height: 4rem;
        width: 4rem;
        padding-right: .8rem;
      }
  
      &--name {
        font-size: 1.6rem;
        font-weight: 800;
        color: $color-black;
      }
    }
  }

  .messages {
    flex: 1;
    overflow-y: scroll;

    &__date {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7.7rem;
      height: 2.8rem;
      font-size: 1rem;
      border: .1rem solid $color-white;
      border-radius: 2rem;
      background-color: rgba($color-white-1, 0.9);
      color: $color-black-2;

      &--container {
        display: flex;
        justify-content: center;
        margin: 1.2rem 0;
      }
    }

    .message {

      &__sent {
        display: flex;
        justify-content: flex-end;

        > div {
          max-width: 40%;
          margin: 1.6rem 1.6rem 0 0;
        }

        .message__content {
          border-radius: 1.8rem 1.8rem .4rem 1.8rem;
          background-color: $color-orange-light;
        }

        .message__details {
          display: flex;
          justify-content: flex-end;

          &--status {
            img:first-of-type {
              padding-right: .3rem;
            }
          }
        }
      }

      &__received {
        display: flex;
        justify-content: flex-start;

        > div {
          max-width: 40%;
          margin: 1.6rem 0 0 1.6rem;
        }

        .message__content {
          display: inline-block;
          border: .1rem solid $color-white-1;
          border-radius: 1.8rem 1.8rem 1.8rem .4rem;

          &--quote {
            background-color: $color-orange-light;
            padding: .5rem;
            border: .1rem solid $color-orange;
            border-left: .6rem solid $color-orange;
            border-radius: .2rem 2rem 2rem .2rem;
          }
        }
      }

      &__content {
        padding-right: 5rem;
        padding: 1.2rem 1.6rem;
        font-size: 1.6rem;
        color: $color-black;
      }

      &__details--time {
        padding-right: .5rem;
        font-size: 1.4rem;
      }
    }
  }

  .message-input {
    // flex: 0 0 14rem;
    border-top: solid .1rem #E4E9EF;
    padding: 1.6rem 0;

    &__reply {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 1rem;

      padding-left: 1.3rem;

      &--details {
        display: flex;

        img {
          padding-right: .5rem;
        }
      }

      &--name {
        font-size: 1.2rem;
        font-weight: 800;
        color: $color-black;
      }
  
      &--quote {
        font-size: 1.4rem;
      }
    }

    &__container {
      display: flex;
      align-items: center;

      .nav-button {
        margin: 0 1rem; 
      }

      .nav-button__container {
        padding: 1.3rem .2rem;
        background-color: rgba($color-orange, .08);
        border-radius: 0 10rem 10rem 0;
      }
    }

    input {
      border-radius: 10rem 0 0 10rem;
      width: 88.5%;

      &:focus {
        box-shadow: none;
      }
    }

    .message-input__send {
      background-color: $color-orange;
    }

    @media only screen and (max-width: $bp-large-3) {
      input {
        width: 70%;
      }
    }

    @media only screen and (max-width: $bp-large-1-5) {
      input {
        width: 80%;
      }
    }

    @media only screen and (max-width: $bp-large-1-2) {
      input {
        width: 70%;
      }
    }
  }
}