.user__avatar {
  padding-right: 1rem;
  
  > img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
  }

  &--small img {
    width: 4rem;
    height: 4rem;
  }

  &--big img {
    width: 16rem;
    height: 16rem;
  }

  &--large img {
    width: 24rem;
    height: 24rem;
  }

  &--placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    background-color: $color-orange-light;
    font-size: 1.8rem;
    margin-right: 1rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
  
    &-small {
      width: 4rem;
      height: 4rem;
    }

    &-big {
      width: 16rem;
      height: 16rem;
      font-size: 5rem;
    }

    &-large {
      width: 24rem;
      height: 24rem;
      font-size: 8rem;
    }
  }
}