$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #F9F9FA;
$color-grey-dark-4: #7E8B9A;
$color-white: #fff;
$color-white-1: #E4E9EF;
$color-black: #000;
$color-black-2: #0B2443; 
$color-orange: #F3853A;
$color-orange-light: #FFE2CE;
$color-blue-dark: #3B5998;
$color-blue-light: #1DA1F2;
$color-red: #EA4335;

$bp-large: 30em;
$bp-large-1: 46em;
$bp-large-1-2: 57em;
$bp-large-1-5: 67em;
$bp-large-2: 75em;
$bp-large-3: 83em;
